

/* .main: é a plano geral da parte do login*/
.main {
  background-color: rgb(33, 85, 163);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .card: O cartão de login*/
.card {
  background-color: rgba(253, 186, 233, 0.747);
  width: 20%;
  height: 60%;
 
}
 

/* .form:  Está dentro do .card. 
 Dentro do .form está os labels, inputs, a div "botoes"
 */
.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  width: 100%;
  height: 50%;
  
}
label{
  float: left;
  width: 80%;
}

/* .input: Estilo dos campos de inputs (senha e email)*/
.input {
  width: 80%;
  height: 40px;
  border-radius: 15px;
  border-style: solid;

  padding: 10px;
  
}
.input:focus{
  border-color: blue; 
    outline: none; 
    background-color: #f0f8ff;
}


/*.botoes:  dentro dessa div tem todos os botões:
   bt: Entrar
   bt: Login com o Google
   bt: Registro*/
.botoes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 30%;
  width: 100%;

}

/* .botao: todas os botões ganha essa classe*/
.botao {
  width: 80%;
  height: 30px;
  border-radius: 8px;
  border-style: none;
  margin-top: 10px;

}

/* Estilização individual dos botões*/

/* #botao_modo: Botão de registro ganha esse ID*/

#botao_modo {

  color: green;
}