// Variáveis para cores
$bg-success: #28a745;
$navbar-dark-color: #fff;
$btn-warning-color: #ffc107;

// Estilos gerais para a barra de navegação
.navbar {
  background-color: $bg-success;

  .navbar-brand {
    color: $navbar-dark-color;
  }

  .navbar-toggler {
    border-color: rgba(255, 255, 255, 0.1);

    .navbar-toggler-icon {
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba%28255, 255, 255, 1%29' stroke-width='2' linecap='round' linejoin='round' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
    }
  }

  .navbar-nav {
    .nav-link {
      color: $navbar-dark-color;
      &:hover {
        color: lighten($navbar-dark-color, 20%);
      }
    }
  }

  .form-inline {
    margin-left: auto; // Garantir que o formulário fique no lado direito
    
    .input-group {
      .input-group-prepend {
        .input-group-text {
          background-color: transparent;
          border: 1px solid $navbar-dark-color;
          color: $navbar-dark-color;
        }
      }

      .form-control {
        border: 1px solid $navbar-dark-color;
      }
    }

    .btn-warning {
      background-color: $btn-warning-color;
      color: #000;
    }
  }
}

// Container de conteúdo
.container-fluid {
  padding: 2rem;

  h1 {
    color: darken($bg-success, 10%);
  }

  h2 {
    color: $bg-success;
  }
}
